{{>htmlHeader}}

<main>
{{#heading}}
    <h1>{{heading}}</h1>
{{/heading}}
<p>{{#name}}Hello {{name}}!{{/name}}
{{^name}}Hi friend!{{/name}}</p>
{{#content}}
    {{{content}}}
{{/content}}

{{{download_link}}}
</main>

{{>htmlFooter}}