<form hx-post="php/add_new_item.php" hx-target="#newItemMsg">
  <input type="text" name="name" id="item_name" placeholder="New Item Name" autocomplete=true required/>
  <input type="text" name="price" id="item_price" placeholder="new Item Price" required />
  <input type="submit" value="Add New Item" />
</form>
