.DS_Store
private/mailout/API/dd_logs/
private/mailout/API/logs/
private/mailout/API/current_mailout.txt
private/mailout/API/dd_current_mailout.txt
assets/images/article_images/
.htaccess
.cpanel.yml
php.ini
/tmp_uploads/
*upload_test*
*upload_progress*
*handle_upload*
*error_log*
.prettierignore
resources/resource_dirs/bio_&_press_releases/*
resources/resource_dirs/logos/*
resources/resource_dirs/press_shots/*
resources/resource_dirs/tech_spec/*
resources/resource_dirs/audio/*