<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/base.css">
    <script src="lib/htmx.min.js"></script>
    <script defer src="js/emailManagement.js"></script>
    <script defer src="js/nav.js"></script>
    <title>The Exact Opposite</title>
  </head>
  <body>
    <header class="logo desktop-logo"><img src="./assets/graphics/onelineLogoWB.svg" alt="The Exact Opposite logo" /></header>
    <header class="logo mobile-logo"><img src="./assets/graphics/threelineLogoW.svg" alt="The Exact Opposite logo" /></header>
    <nav hx-get="api/get-nav.php" hx-trigger="load"></nav>
    <main hx-get="/api/get-content.php" hx-swap="innerHTML" hx-trigger="load" hx-on::after-settle="getCardsInitPos()">
        <img src="/assets/graphics/loading.svg" alt="loading spinner" class="htmx-indicator" />
    </main>
    <footer>
      <section class="emailContainer">
        <form action="#" id="emailList" class="emailForm">
          <span class="emailCTA">Join our email list for news:</span>
          <input type="text" id="email" placeholder="email address" autocomplete="email" />
          <input type="text" id="name" placeholder="name (optional)" autocomplete="name" />
          <input type="submit" id="emailSubmit" value="enter your email" disabled="" />
        </form>
      </section>

  <script charset="utf-8" src="https://widgetv3.bandsintown.com/main.min.js"></script>
  <a class="bit-widget-initializer"
    
	data-artist-name="id_15595612"
	
	data-events-to-display=""
	data-background-color="rgba(255,255,255,1)"
	data-separator-color="rgba(221,221,221,1)"
	data-text-color="rgba(66,66,66,1)"
	data-font="Tahoma"
	data-auto-style="true"
	
	data-button-label-capitalization="lowercase"
	data-header-capitalization="uppercase"
	data-location-capitalization="uppercase"
	data-venue-capitalization="uppercase"
	data-display-local-dates="true"
	data-local-dates-position="tab"
	data-display-past-dates="true"
	data-display-details="false"
	data-display-lineup="false"
	data-display-start-time="false"
	data-social-share-icon="false"
	data-display-limit="all"
	
	data-date-format="DD/MM/YY"
	data-date-orientation="horizontal"
	data-date-border-color="#4A4A4A"
	data-date-border-width="1px"
	data-date-capitalization="lowercase"
	data-date-border-radius="10px"
	
	data-event-ticket-cta-size="small"
	data-event-custom-ticket-text=""
	data-event-ticket-text="TICKETS"
	data-event-ticket-icon="false"
	data-event-ticket-cta-text-color="rgba(255,255,255,1)"
	data-event-ticket-cta-bg-color="rgba(74,74,74,1)"
	data-event-ticket-cta-border-color="rgba(74,74,74,1)"
	data-event-ticket-cta-border-width="0px"
	data-event-ticket-cta-border-radius="2px"
	
	data-sold-out-button-text-color="rgba(255,255,255,1)"
	data-sold-out-button-background-color="rgba(74,74,74,1)"
	data-sold-out-button-border-color="rgba(74,74,74,1)"
	data-sold-out-button-clickable="true"
	
	data-event-rsvp-position="left"
	data-event-rsvp-cta-size="medium"
	data-event-rsvp-only-show-icon="false"
	data-event-rsvp-text="RSVP"
	data-event-rsvp-icon="false"
	data-event-rsvp-cta-text-color="rgba(74,74,74,1)"
	data-event-rsvp-cta-bg-color="rgba(255,255,255,1)"
	data-event-rsvp-cta-border-color="rgba(74,74,74,1)"
	data-event-rsvp-cta-border-width="1px"
	data-event-rsvp-cta-border-radius="2px"
	
	data-follow-section-position="hidden"
	data-follow-section-alignment="center"
	data-follow-section-header-text="Get updates on new shows, new music, and more"
	data-follow-section-cta-size="medium"
	data-follow-section-cta-text="FOLLOW"
	data-follow-section-cta-icon="false"
	data-follow-section-cta-text-color="rgba(255,255,255,1)"
	data-follow-section-cta-bg-color="rgba(74,74,74,1)"
	data-follow-section-cta-border-color="rgba(74,74,74,1)"
	data-follow-section-cta-border-width="0px"
	data-follow-section-cta-border-radius="2px"
	
	data-play-my-city-position="hidden"
	data-play-my-city-alignment="center"
	data-play-my-city-header-text="Don’t see a show near you?"
	data-play-my-city-cta-size="medium"
	data-play-my-city-cta-text="REQUEST A SHOW"
	data-play-my-city-cta-icon="false"
	data-play-my-city-cta-text-color="rgba(255,255,255,1)"
	data-play-my-city-cta-bg-color="rgba(74,74,74,1)"
	data-play-my-city-cta-border-color="rgba(74,74,74,1)"
	data-play-my-city-cta-border-width="0px"
	data-play-my-city-cta-border-radius="2px"
	
	data-optin-font=""
	data-optin-text-color=""
	data-optin-bg-color=""
	data-optin-cta-text-color=""
	data-optin-cta-bg-color=""
	data-optin-cta-border-width=""
	data-optin-cta-border-radius=""
	data-optin-cta-border-color=""
	
	data-language="en"
	data-layout-breakpoint="900"
	data-app-id=""
	data-affil-code=""
	data-bit-logo-position="hidden"
	data-bit-logo-color="rgba(66,66,66,1)"
	
    ></a>
      <section class="socials" hx-get="api/get-socials.php" hx-trigger="load">
      </section>
    </footer>
</html>
