<div class='gigBodyRow'>
    <div class='gigBodyCell'>
        {{date}}
    </div>
    <div class='gigBodyCell'>
        {{#event}}{{event}} @ {{/event}}{{venue}}
    </div>
    <div class='gigBodyCell'>
        {{city}}
    </div>
    <div class='gigBodyCell address'>
        <a href="https://www.google.com/maps/search/?api=1&query={{map_query}}" target="_blank">{{address}} {{postcode}}</a>
    </div>
    <div class='gigBodyCell country'>
        {{country}}
    </div>
    <div class='gigBodyCell tickets'>
        {{#tickets}}<a href="{{tickets}}" target="_blank">GET TICKETS</a>{{/tickets}}
    </div>
</div>    