<div class='gigBodyRow gigography'>
    <div class='gigBodyCell'>
        {{date}}
    </div>
    <div class='gigBodyCell'>
        {{venue}}, {{city}}
    </div>
    <div class='gigBodyCell'>
        {{country}}
    </div>
</div>    