/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;600&display=swap');
@font-face {
  font-family: 'OpenSansBold';
  font-style: bold;
  font-weight: 700;
  src: url('../assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}

body {
  font-family: OpenSans, Inter, sans-serif;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background: #000 url('../assets/images/CroppedMedium.jpg') no-repeat fixed center top;
  background-size: cover;
}

main {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1.5em;
} */

a {
  text-decoration: underline;
  color: #444;
}

h1 {
  width: 100%;
  color: #000;
  background-color: #aaa;
  text-align: center;
}

.inForm {
  margin-bottom: 3em;
}

.inForm form input {
  width: 50%;
}

.inForm form input[type='submit'] {
  display: block;
  width: 12em;
}

footer {
  /* position: sticky;
  bottom: 0;
  left: 0;
  right: 0; */
  padding: 1em;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

label {
  color: #111;
  font-size: 1.1em;
  margin-right: 0.5em;
}

label.itemLabel {
  color: #000;
  font-size: 0.8em;
  font-family: OpenSans;
}

form input {
  width: 20em;
  font-size: 1em;
  margin: 0.1em;
}

input:disabled {
  background-color: #222;
  color: #f88;
}

section.socials {
  margin: 0.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.orderList,
.itemOption,
.orderItemGrid {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  font-size: 0.8em;
}

.order {
  display: grid;
  grid-template-columns: 1fr 9fr;
  padding: 0.3em;
}

.order:nth-child(odd),
.itemOption:nth-child(odd),
.orderItemGrid:nth-child(odd) {
  background-color: rgba(230, 230, 200, 0.6);
}

.orderLine {
  border-bottom: 1px solid #999;
  padding: 0.3em;
}

.orderTitle {
  font-style: italic;
}

.itemGrid {
  padding-left: 2em;
  font-style: italic;
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.orderItemGrid {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
}

.editOrder {
  border: none;
  width: 50%;
  min-width: 30em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

input[type='submit'],
button,
.button {
  display: inline-block;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #7aa8b7;
  border-radius: 6px;
  outline: none;
  transition: 0.3s;
  margin: 0.4em 0;
  max-width: fit-content;
}

input[type='number'],
input[type='datetime-local'] {
  max-width: 14em;
}

button:hover,
.button:hover {
  background-color: #c2c7c7;
}

.msg {
  margin-bottom: 2em;
}

.itemOption {
  width: auto;
  display: grid;
  grid-template-columns: 30px 1fr;
  place-items: center start;
  column-gap: 1em;
  padding: 0.3em;
}

/* .itemOption:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.3);
}
.itemOption:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.6);
} */
.error {
  font-style: italic;
  font-size: 1.2em;
  color: red;
}

.divider {
  padding-right: 50%;
  border-bottom: 1px solid white;
  margin-bottom: 2em;
}

.colForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
