<section class="card-article articlePreview">
    <h1>ARTICLE PREVIEW</h1>
            <div class = "article-date">{{display_date}}</div>
            <h2>{{article_title}}</h2>

      <div class = "article-content">
      {{{ article_content }}}
      </div>
      <br class="clear" />
</section>
