    <h2>Double click article to edit</h2>
    {{#articles}}
        <article class="articleSelect" hx-get="api/edit-article.php?article_id={{article_id}}" hx-trigger="dblclick" hx-target="#editArticle">
            <div class="article-date">{{live_date}}</div>
            <h2>{{article_title}}</h2>
            <div class="truncate">{{article_content}}</div> 
        </article>
    {{/articles}}