<form hx-post="api/create_venue.php">
    <label for="venueName">Venue Name</label>
    <input type="text" name="name" id="venueName" placeholder="venue name" autocomplete="false" required/>
    <label for="venueAddress">Address</label>
    <input type="text" name="address" id="venueAddress" placeholder="venue address" autocomplete="false" required/>
    <label for="venuePostcode">Postcode</label>
    <input type="text" name="postcode" id="venuePostcode" placeholder="venue postcode" autocomplete="false" required/>
    <label for="venueCity">City</label>
    <input type="text" name="city" id="venueCity" placeholder="venue city" autocomplete="false" required />
    <label for="venueCountry">Country</label>
    <div id="venueCountry" hx-get="api/country_select.php" hx-trigger="load" hx-swap="outerHTML"></div>
    <label for="venueWebsite">Website</label>
    <input type="text" name="website" id="venueWebsite" placeholder="venue website" autocomplete="false" />
    <label for="venueNotes">Notes</label>
    <input type="text" name="notes" id="venueNotes" placeholder="venue notes" autocomplete="false" />
    <input type="submit" value="Create Venue" />
</form>