{{#card-info}}
<h1>Edit Card: {{title}}</h1>

<section class="editCardInfo" hx-get="api/edit_card.php?card_id={{card_id}}" hx-trigger="cardUpdated from:body">
    <form hx-post="api/update_card.php" hx-target="#cardUpdated">
        <label for="cardTitle">Title</label>
        <Input id="cardTitle" type="text" name="title" value="{{title}}" />
        <label for="cardStrap">Strapline</label>
        <input id="cardStrap" type="text" name="strap" value="{{strap}}" />
        <input type="hidden" name="card_id" value="{{card_id}}" />
        <input type="submit" value="Update Card Info" />
    </form>
    <form hx-post="api/create-article-form.php" hx-target="#createArticle">
        <input type="hidden" name="card_id" value="{{card_id}}" />
        <input type="submit" value="Create Article" />
    </form>
</section>
{{/card-info}}
<section id="cardUpdated"></section>
<section id="createArticle"></section>

{{#card-info}}
<section class="articleList" hx-get="api/get_card_articles.php?card_id={{card_id}}&content_type={{content_type}}" hx-trigger="load, articleAdded from:body, articleUpdated from:body, articleDeleted from:body">
</section>
{{/card-info}}

{{>fileUpload}}