{{#article_data}}
    <form hx-post="api/update_article.php" id="updateArticleForm">
    <label for="articleTitle">Title</label>
    <input type="text" id="articleTitle" name="article_title" value="{{article_title}}"  hx-get="api/preview_article.php" hx-target="#previewArticle" hx-trigger="input delay:3s" hx-include="#updateArticleForm"/>
    <label for="articleContent">Content</label>
    <textarea  id="articleContent" name="article_content"  cols="25" rows="10" hx-get="api/preview_article.php" hx-target="#previewArticle" hx-trigger="input delay:3s" hx-include="#updateArticleForm">{{article_content}}</textarea>
    <label for="postDate">Post Date</label>
    <input type="datetime-local" id="postDate" name="post_date" value="{{post_date}}" />
    <label for="liveDate">Live Date</label>
    <input type="datetime-local" id="liveDate" name="live_date" value="{{post_date}}" />
    <input type="hidden" name="article_id" id="article_id" value="{{article_id}}">
    <input type="submit" value="Update Article" />
    </form>
    <section id="previewArticle" hx-get="api/preview_article.php" hx-trigger="articleLoaded from:body" hx-include="#updateArticleForm"></section>
    <form hx-post="api/delete_article.php" hx-confirm="Are you sure you wish to delete article {{article_id}}?">
        <input type="hidden" name="article_id" value="{{article_id}}" />
        <input type="submit" value="Delete Article" />
    </form>
{{/article_data}}

