{{#card-info}}
<h1>Edit Gigs: {{title}}</h1>

<section class="editCardInfo">
    <form hx-post="api/updateCard.php">
        <label for="cardTitle">Title</label>
        <Input id="cardTitle" type="text" name="title" value="{{title}}" />
        <label for="cardStrap">Strapline</label>
        <input id="cardStrap" type="text" name="strap" value="{{strap}}"" />
        <input type="submit" value="Update Card Info" />
    </form>
    <form hx-post="api/create_gig_form.php" hx-target="#createArticle">
        <input type="submit" value="Create Gig" />
    </form>
</section>
{{/card-info}}
<section id="createArticle"></section>

{{#card-info}}
<section class="articleList" hx-get="api/get_gigs.php" hx-trigger="load, gigAdded from:body, gigUpdated from:body, gigDeleted from:body">
</section>
{{/card-info}}

<section id="editGig"></section>