<img src="{{thumbnail_url}}" alt="thumbnail of photo id {{resource}}" width="{{thumbnail_width}}" height="{{thumbnail_height}}" /><br />
<a href="{{full_res_url}}" download="{{resource}}">Download Print Resolution</a> (width {{full_res_width}}px, height {{full_res_height}}px) ||
<a href="{{web_url}}"" download="{{resource}}">Download Web Resolution</a> (width {{web_width}}px, height {{web_height}}px)
<div class="credit">Please credit <strong>{{photo_credit}}</strong> for all uses</div>