<h2>{{video_title}}</h2>
<div class="video">
    <iframe class="responsiveIframe" width="560" height="315" src="https://www.youtube.com/embed/{{yt_id}}?si={{yt_si}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<div class="info">
    Direct link: <a href="{{url}}" target="_blank">{{url}}</a>
</div>