<div class="itemOption">
    <input type="checkbox" name="items[]" id="item_{{item_id}}" value="{{item_id}}|{{name}}|{{price}}" />
    <label class="itemLabel" for="item_{{item_id}}">{{name}} [&pound;{{price}}]</label>
</div>