<div class="order" id="order_{{order_id}}">
  <div class="orderLine orderTitle">Sumup ID</div>
  <div class="orderLine">{{sumup_id}}</div>
  <div class="orderLine orderTitle">Name</div>
  <div class="orderLine">{{name}}</div>
  <div class="orderLine orderTitle">Address</div>
  <div class="orderLine">{{address_1}}, {{#address_2}}{{address_2}}, {{/address_2}}{{city}} {{postcode}}, {{country}}</div>
  {{#items}}{{>item}}{{/items}}
</div>
  {{>editOrder}}
