/* general */

body {
  font-family: var(--std-font);
}

h1 {
  font-family: var(--heading-font);
  font-size: 1.3em;
  font-weight: 700;
}

h1.message {
  color: rgb(86, 2, 2);
}

h2 {
  font-size: 1.1em;
  font-weight: 700;
}

code {
  font-family: monospace;
  font-weight: 300;
  font-size: 0.9em;
}

.cardsPreview {
  width: auto;
  height: 20vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0.5em 0.5em 1em 0.5em;
}

.cardPreview {
  text-align: center;
  font-size: 1.5em;
  color: #d9d9d9;
  display: block;
  height: 100%;
  width: 20%;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.cardPreview:nth-of-type(odd) {
  background-color: #4d0000;
}

.cardPreview:nth-of-type(even) {
  background-color: #09004d;
}

.editCard {
  width: auto;
}

.fullscreen {
  opacity: 0.7;
  transition: opacity 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
}

/* form styling */

form {
  max-width: 60em;
  margin-top: 1em;
  padding: 0.3em;
  background-color: #eee;
  border: 1px solid #888;
}

input {
  display: block;
  min-width: 60em;
  max-width: 100%;
}

input[type='submit'] {
  min-width: 10em;
  max-width: 10em;
}

input[type='file'] {
  padding-bottom: 0.4rem;
  border-bottom: 2px solid #333;
}

input[type='submit'].mainSubmit {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(86, 2, 2);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

textarea {
  display: block;
  margin: 0;
  padding: 0.1em;
  min-width: 60em;
  max-width: 100%;
  height: auto;
  min-height: 10em;
  border: 1px solid black;
  cursor: text;
  /* background-color: #666; */
  color: #000;
  overflow: auto;
  resize: both;
}

textarea::placeholder {
  color: #efe;
}

input {
  margin-top: 1em;
}

label {
  display: inline-block;
  margin-top: 0.4em;
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 1.1em;
}

fieldset {
  border: 1px solid black;
  padding: 0.5em;
}

fieldset:nth-of-type(odd) {
  background-color: #fde8e8;
}

fieldset:nth-of-type(even) {
  background-color: #e1eef8;
}

.articles {
  margin-top: 1em;
  padding: 0.5em;
  border: 1px solid #333;
  width: 60em;
}

.article {
  margin: 0.5em;
  padding: 0.3em;
  border-bottom: 1px solid #555;
  transition: background-color 0.3s ease-in;
}

.article:hover {
  cursor: pointer;
  background-color: #eedede;
}

.article-head {
  font-size: 1.3em;
  font-style: italic;
  margin-bottom: 0.2em;
}

.article p {
  padding: 0.6em;
}

/* edit article */

.editArticle {
  position: absolute;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: left 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal-open {
  left: 0;
  z-index: 2;
}

/* gigs */

.gigInfo {
  padding: 0.2em;
  display: inline-block;
}

.error {
  border: 2px solid red;
}

.gigSubmit {
  font-size: 1.5em;
  font-weight: bold;
  height: 2em;
  width: 63m;
  border: 3px solid red;
  background-color: #fff;
  margin: 0.3em;
}
/* gigs */

.gigEdit {
  padding: 0.5em;
  margin-bottom: 0.2em;
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr;
  align-items: center;
}

.gigEdit:nth-of-type(odd) {
  background-color: #fde8e8;
}

.gigEdit:nth-of-type(even) {
  background-color: #e1eef8;
}
.gigInfo {
  min-height: 2.2em;
  padding: 5px;
  border-bottom: 1px solid #000;
}
.gigInfo:last-of-type() {
  border-bottom: none;
}

.articleList {
  margin: 1em;
  padding: 0.5em;
  border: 1px solid black;
}

.articleSelect {
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid black;
}

.articleSelect:nth-child(odd) {
  background-color: #ccc;
}

.articleSelect:nth-child(even) {
  background-color: #e7e7e7;
}

.truncate {
  width: 18em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-date {
  font-style: italic;
  font-size: 0.8em;
  text-align: right;
}
