<section class="resource">
    <h2>{{name}}</h2>
    {{#resources}}
        {{^playlists}}
            <div class="resourceItem">
                {{#img_preview}}
                    <img src="{{path}}thumbnail/{{resource}}" alt="Thumbnail image of {{resource}}" />
                    <br />
                    <a href="{{path}}full_res/{{resource}}" target="_blank">Download at print resolution</a>&nbsp;||&nbsp;<a href="{{path}}web/{{resource}}" target="_blank">Download at web resolution</a>
                    {{#photo_credit}}
                        <br />Please credit photo to {{{photo_credit}}}
                    {{/photo_credit}}
                {{/img_preview}}
                {{^img_preview}}
                    <a href="{{path}}{{resource}}" target="_blank">
                        {{resource}}
                    </a>
                {{/img_preview}}
            </div>
        {{/playlists}}
        {{#playlists}}
            <div class="resourceItem">
                {{>playlist}}
            </div>
        {{/playlists}}
    {{/resources}}
</section>