/* custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  /* colours */
  --pink-text: #e51d73;
  --background: #010101;
  --main-text-size: clamp(1.3em, 4vw, 2em);
  --button-text-colour: #ffffff;
  --button-background-colour: rgba(255, 255, 255, 0.2);
  --button-background-hover-colour: rgba(0, 0, 0, 0.8);
  --std-text-color: #a1a1a1;
  --std-text-size: 0.8em;
  --cta-colour: #a1a1a1;
  --cta-hover-colour: #b2b2b2;
  --cta-background-colour: rgba(0, 0, 0, 0.6);
  /* fonts */
  --std-font: Poppins, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --heading-font: 'Libre Franklin', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: var(--std-font);
  background-color: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  padding: 20px 9%;
  mix-blend-mode: difference;
}

header.logo img {
  max-width: 100%;
}

footer {
  border-top: 2px solid #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
  background-color: rgba(0, 0, 0, 1);
}

main {
  background-color: #222;
  color: #eee;
  width: 82%;
  padding: 4%;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 1)) 1 50%;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
p {
  margin: 1em 0;
}

h1 {
  font-weight: 600;
  font-size: 1.4em;
  line-height: 2em;
}

footer a {
  text-decoration: underline;
  color: #aaa;
}
