Sent {{sent}} of {{total}} total, {{errors.errors}} errors
{{#errors.error_flag}}<button hx-post="api/delete_errors.php?mailing_list={{mailing_list}}" hx-swap="outerHTML">Delete Error Addresses</button>{{/errors.error_flag}}