    {{#articles}}
<section class="card-article">
      <div class = "article-date">{{display_date}}</div>
      {{#article_title}}
      <h2>{{article_title}}</h2>
      {{/article_title}}
      <div class = "article-content">
      {{{ article_content }}}
      </div>
</section>
    {{/articles}}