{{# data}}
<section class="card" id="{{ card_id }}">
  <div class="logo-spacer"></div>
  <h2>{{strap}}</h2>
  <div class="card-inner-container">
  <div></div>
    <section class="card-content" hx-get="api/get-{{card_id}}.php" hx-trigger="load">
    </section>
  </div>
</section>
{{/ data}}
