<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/vars.css" />
    <link rel="stylesheet" href="../styles/cards.css" />
    <link rel="stylesheet" href="./styles/admin.css" />
    <link rel="stylesheet" href="../styles/loader.css" />
    <script src="../lib/htmx.min.js"></script>
    <script src="../js/sorttable.js"></script>
    <title>The Exact Opposite of admin</title>
  </head>
  <body>
    <header>
      <img src="../assets/graphics/onelineLogoBW.svg" />

      <h1>website content management system</h1>
    </header>
    <a href="mailout/mailout.html">Send a mailout</a>
    <main id="content">
      <section class="cards" hx-get="api/get-cards.php" hx-trigger="load, cardCreated from:body"></section>
      <section id="createCard">
        <div class="createLink" hx-get="api/create_card_form.php" hx-target="#createCardFormContainer">Create new card</div>
        <div id="createCardFormContainer"></div>
      </section>
      <section id="editCard"></section>
      <section id="editArticle"></section>
    </main>
    <script src="../js/copyToClipboard.js"></script>
  </body>
</html>
