.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: scaleY(0.1);
  transition: opacity 0.5s, filter 0.8s, transform 0.5s;
  transition-delay: filter 0.3s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: scaleY(1);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
