@import url('globalVars.css');
@import url('reset.css');
@import url('cards.css');
@import url('headerFooter.css');
@import url('gigTable.css');

html {
  scroll-snap-type: y mandatory;
}
body {
  font-family: var(--std-font);
  background-color: var(--body-bg);
}

h1 {
  font-size: 2.5em;
  line-height: 1.5em;
  font-weight: 800;
}

h2 {
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 700;
}

main {
}

main > * {
  scroll-snap-align: start;
}
header,
footer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  font-weight: 700;
  font-size: clamp(2em, 7vw, 4em);
  text-transform: uppercase;
}

footer {
  position: fixed;
  border-top: 2px solid #fff;
  background-color: rgba(0, 0, 0, 1);
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 0.5rem;
}

@media screen and (max-width: 800px) {
  footer {
    position: inherit;
    bottom: -40px;
    overflow-x: hidden;
  }
}

br.big {
  display: block;
  content: '';
  margin-top: 0.5em;
  line-height: 190%;
}

/* specific header and footer */

.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
  width: 80%;
  max-width: 80vw;
}

.logo {
  padding-top: 9px;
  position: sticky;
  bottom: 10vh;
  left: calc(clamp(35px, 6vw, 100px) + 0.3em);
  max-width: calc(100vw - clamp(35px, 6vw, 100px) - 0.6em);
  height: 12vh;
  z-index: 3;
  mix-blend-mode: difference;
}

.mobile-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 25vh;
}

.mobile-logo img {
  object-fit: contain;
  width: 90%;
}

.desktop-logo {
  display: none;
}

@media screen and (min-width: 800px) {
  .mobile-logo {
    display: none;
  }
  .desktop-logo {
    position: fixed;
    top: 0;
    width: 100vw;
    margin-top: 7px;
    display: block;
  }
}

form input {
  width: 16em;
  font-size: 0.8em;
  margin: 0.1em;
}

input:disabled {
  background-color: #222;
  color: #f88;
}
