@import url('globalVars.css');
@import url('reset.css');
@import url('cards.css');
@import url('headerFooter.css');
@import url('gigTable.css');

html {
  scroll-snap-type: y mandatory;
}
body {
  font-family: var(--std-font);
  background-color: var(--body-bg);
  max-width: 100vw;
}

h1 {
  font-size: 2.5em;
  line-height: 1.5em;
  font-weight: 800;
}

h2 {
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 700;
}

br.big {
  display: block;
  content: '';
  margin-top: 0.5em;
  line-height: 190%;
}

form input {
  width: 16em;
  font-size: 0.8em;
  margin: 0.1em;
}

input:disabled {
  background-color: #222;
  color: #f88;
}

.small {
  font-size: 0.6em;
}
