header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  mix-blend-mode: multiply;
  z-index: 3;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

main {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  height: 100%;
  scroll-snap-type: inline mandatory;
}

main > * {
  scroll-snap-align: start;
}

.card {
  left: 0;
  min-width: 100vw;
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.card-title {
  text-align: center;
  position: absolute;
  height: 100%;
  width: 6vw;
  left: 0;
  writing-mode: vertical-lr;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 12vh;
}

.card-inner-container {
  padding-top: 12vh;
}

.card-content {
  margin: 1em 1vw 1em 7vw;
  padding: 1em;
  border-radius: 10px;
  max-height: 70%;
  overflow: scroll;
}

p.card-text {
  margin: 0.5em 1.3em;
}
