/* cards */

.card {
  scroll-snap-align: start;
  width: 100vw;
  position: relative;
  position: -webkit-sticky;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card:nth-of-type(odd) {
  background-color: var(--card-bg-odd);
  color: var(--card-color-odd);
  --article-underline-color: #0004;
}

.card:nth-of-type(even) {
  background-color: var(--card-bg-even);
  color: var(--card-color-even);
  --article-underline-color: #fff4;
}

.card-title {
  writing-mode: horizontal-tb;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.5em, 5.5vw, 2.5em);
  font-weight: 600;
  background-color: #444;
  color: #fff;
  margin-top: 0.5em;
}

.card .logo-spacer {
  display: none;
}

.card-inner-container {
  width: 100%;
}

.card-content {
  margin-top: 0.6rem;
  padding: 0.5rem;
  /* margin-left: auto;
  margin-right: auto; */
}

.article-date {
  font-style: italic;
  font-size: 0.8em;
  text-align: right;
}

.card-article {
  width: 100%;
  padding: 0.4em;
  margin-top: 0.6em;
  border-bottom: 2px solid var(--article-underline-color);
}

.article-content {
  padding: 0.5rem;
}

br.clear {
  clear: both;
}

.imgContainer {
  max-width: 85%;
  margin: 0.4em;
}

.imgContainer img {
  object-fit: contain;
  max-width: 100%;
}

/* DESKTOP RESPONSIVE */
@media screen and (min-width: 800px) {
  .card {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
  .card .logo-spacer {
    display: block;
    position: relative;
    width: 100%;
    height: 15vh;
  }
  .card-content {
    height: 60vh;
    overflow-y: auto;
    width: 95%;
  }
  .card-inner-container {
    width: clamp(40em, 90%, 80em);
    display: grid;
    grid-template-columns: clamp(35px, 6vw, 100px) 1fr;
  }
  .card-title {
    writing-mode: vertical-lr;
    justify-content: flex-start;
    padding-top: 13vh;
    margin-top: 0;
  }
  .card:nth-of-type(odd) > .card-title {
    border-right: 1px solid var(--card-bg-even);
  }

  .card:nth-of-type(even) > .card-title {
    border-right: 1px solid var(--card-bg-odd);
  }
}
