.card {
  top: 0;
}

.card-title {
  text-align: center;
  flex-basis: 100%;
  margin-top: 2em;
  padding: 0.5em;
}

p.card-text {
  margin: 0 5vw 0 5vw;
}

.card-inner-container ul {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}
