body {
  font-family: var(--std-font);
  background-color: #fff;
}
main {
  position: relative;
  scroll-snap-type: inline mandatory;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100vh;
  max-height: 100vh;
}

main > * {
  scroll-snap-align: start;
}

header,
footer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  font-weight: 700;
  font-size: clamp(2em, 7vw, 4em);
  text-transform: uppercase;
}

footer {
  position: inherit;
  border-top: 2px solid #fff;
  background-color: rgba(0, 0, 0, 1);
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  min-height: 11vh;
}

img {
  max-width: 900px;
  margin: auto;
}

.imgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* specific header and footer */

.logo {
  padding-top: 9px;
  position: fixed;
  top: 0;
  left: 7vw;
  width: 93vw;
  height: 12vh;
  z-index: 3;
  mix-blend-mode: difference;
}

.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
  width: 80%;
}

.mobile-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* max-height: 25vh; */
}

.mobile-logo img {
  object-fit: contain;
  width: 90%;
  /* max-height: 25vh; */
}

.desktop-logo {
  display: none;
}

@media screen and (min-width: 800px) {
  .mobile-logo {
    display: none;
  }
  .desktop-logo {
    display: block;
  }
}

form input {
  width: 20em;
  font-size: 1em;
  margin: 0.1em;
}

input:disabled {
  background-color: #222;
  color: #f88;
}
