/* gigs grid */

.gigs {
  padding: 10px;
  width: 100%;
  font-size: clamp(0.8em, 1.5vw, 1em);
  margin-bottom: 2em;
}

.gigsHead {
  background-color: #222;
  color: #aaa;
  font-weight: 700;
}

.gigHeadRow,
.gigBodyRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 2px solid #aaa;
}

.gigBodyRow:last-of-type {
  border-bottom: none;
}

.gigBodyRow:nth-of-type(odd) {
  color: #fff;
  background-color: rgb(0, 0, 0);
}
.gigBodyCell {
  padding: 0.3rem;
  justify-content: left;
  align-items: baseline;
  font-family: var(--std-font);
  font-weight: normal;
}

.gigBodyCell.address,
.gigBodyCell.country,
.gigBodyCell.tickets {
  margin-top: 0.15rem;
  font-size: 0.7em;
  background-color: rgba(0, 0, 0, 0.1);
}

.gigs a,
.gigs a:hover,
.gigs a:visited {
  text-decoration: underline;
  text-transform: uppercase;
  color: #777;
}

@media screen and (min-width: 600px) {
  .gigHeadRow,
  .gigBodyRow {
    grid-template-columns: 0.8fr 1.2fr 1fr 1.4fr 0.8fr 0.8fr;
  }
  .gigs.gigography {
    max-width: 50em;
  }
  .gigography {
    grid-template-columns: 10em 1fr 10em;
  }
  .gigBodyCell.address,
  .gigBodyCell.country,
  .gigBodyCell.tickets {
    margin-top: inherit;
    background-color: inherit;
  }
}
