/* tables

.card-content .gigs {
  padding: 20px;
  width: 85%;
  font-size: clamp(0.8em, 1.5vw, 1em);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (min-width: 600px) {
  .card-content table {
    font-size: clamp(1em, 2vw, 1.5em);
  }
}

.card-content .gigs .gigsBody div {
  border-bottom: 1px solid #999;
}

.card-content table tbody tr:last-of-type {
  border-bottom: none;
}

.card-content table tbody tr:nth-of-type(odd) {
  background-color: rgb(240, 240, 255);
}

.card-content table tbody tr:nth-of-type(even) {
  background-color: rgb(255, 250, 241);
}

.card-content table tbody tr td {
  padding: 0.5em;
  border-left: 1px solid #999;
  width: auto;
}

.card-content table thead th,
.card-content table tbody tr td.date {
  font-size: 0.8em;
  font-style: italic;
}

.card-content table tr td:first-of-type {
  border-left: none;
}

thead {
  background-color: #222;
  color: #aaa;
  font-weight: 700;
}

thead th {
  padding: 5px;
}


td.country {
  font-weight: bold;
} */

/* gigs grid */

.gigs {
  padding: 10px;
  width: 100%;
  font-size: clamp(0.8em, 1.5vw, 1em);
}

.gigsHead {
  background-color: #222;
  color: #aaa;
  font-weight: 700;
}

.gigHeadRow,
.gigBodyRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid black;
}

.gigBodyRow:last-of-type {
  border-bottom: none;
}

.gigBodyRow:nth-of-type(odd) {
  background-color: rgb(240, 240, 255);
}
.gigBodyCell {
  padding: 0.3rem;
  justify-content: left;
  align-items: baseline;
}

.gigBodyCell.address,
.gigBodyCell.country,
.gigBodyCell.tickets {
  margin-top: 0.15rem;
  font-size: 0.7em;
  background-color: rgba(0, 0, 0, 0.1);
}

.gigs a,
.gigs a:hover,
.gigs a:visited {
  text-decoration: underline;
  text-transform: uppercase;
  color: #777;
}

@media screen and (min-width: 600px) {
  .gigHeadRow,
  .gigBodyRow {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .gigBodyCell.address,
  .gigBodyCell.country,
  .gigBodyCell.tickets {
    margin-top: inherit;
    background-color: inherit;
  }
}
