/* custom fonts */

:root {
  /* colours */
  --pink-text: #e51d73;
  --background: #010101;
  --main-text-size: clamp(1.3em, 4vw, 2em);
  --button-text-colour: #ffffff;
  --button-background-colour: rgba(255, 255, 255, 0.2);
  --button-background-hover-colour: rgba(0, 0, 0, 0.8);
  --std-text-color: #a1a1a1;
  --std-text-size: 0.8em;
  --cta-colour: #a1a1a1;
  --cta-hover-colour: #b2b2b2;
  --cta-background-colour: rgba(0, 0, 0, 0.6);
  /* fonts */
  /* from modern font stacks https://modernfontstacks.com/ */
  --std-font: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  --heading-font: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}
