<div class = 'imgContainer'  {{#align}}style="float:{{align}};"{{/align}}style="width: 100%; display: flex; justify-content: center"{{^align}}{{/align}}>
    <img src = '{{host}}/assets/images/mailout_images/{{url}}' alt = '{{caption}}' />
</div>