<h1>Create new mailout</h1>
<p>Filename is today's date in the form YYMMDD, and will overwrite any previous files</p>
<p>Surround links URLs with the tags &#123;&#123;link&#125;&#125; &#123;&#123;/link&#125;&#125;, image URLs with &#123;&#123;img&#125;&#125; &#123;&#123;/img&#125;&#125;</p>
<form hx-post="API/save_mailout.php" id="createMailoutForm">
    <input type="hidden" name="filename" id="filename" value="{{filename}}" />
    <label for="dd_new">Save as Dive Dive mailout</label>
    <input type="checkbox" name="dd" id="dd_new" />
    <input type="text" name="subject" placeholder="mailout subject" autofill="false" hx-get="API/preview_mailout.php" hx-trigger="input delay:3s" hx-target="#previews" hx-include="#createMailoutForm" />
    <input type="text" name="heading" placeholder="mailout heading" hx-get="API/preview_mailout.php" hx-trigger="input delay:3s" hx-target="#previews" hx-include="#createMailoutForm" />
    <label for="mailoutContent">Type the body of your mailout here</label>
    <textarea name="content"  id="mailoutContent" rows="20" placeholder="content" hx-get="API/preview_mailout.php" hx-trigger="input delay:3s" hx-target="#previews" hx-include="#createMailoutForm"></textarea>
    <input type="hidden" name="preview_mailout" value="true">
    <input type="submit" value="Save New Mailout">
</form>