<h1>SUBJECT</h1><div class="subject">{{subject}}</div>
<h1>TEXT PREVIEW</h1><div class="textPreview"><pre>{{{text_body}}}</pre></div>
<h1>HTML PREVIEW</h1><div class="htmlPreview">{{{html_body}}}</div>